<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Add exercise</mat-label>
      <input type="text" matInput [formControl]="exerciseValue" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="btn btn-primary btn-sm" type="button" (click)="addExercise(exerciseValue.value)">Add</button>
  </form>
